# настройки редактора вебшторм
.idea/
*.iml

# Временные файлы Python
__pycache__/
*.py[cod]

# локальные базы данных
*.db
*.sqlite3

# бэкапы и архивы
*.zip
*.tar.gz

*.env

.gitignore
pyproject.toml
uv.lock
.venv/
